button.add-post{
    width: 35%;
    height: 60px;
    text-decoration: none;
    background-color: #4ea43f;
    font-size: 30px;
    display: block;
    margin: 5px auto;
}
button.add-post:hover{
    background: #1c7a15;
}
.add-link{
    text-decoration: none;
}

button.show-gallery{
    width: 35%;
    height: 60px;
    text-decoration: none;
    background-color: #936842;
    font-size: 30px;
    display: block;
    margin: 5px auto;
}
button.show-gallery:hover{
    background-color: #7a3e10;
}

@media only screen and (max-width: 768px) {
    button.add-post, button.show-gallery{
        width: 75%;
        font-size: 21px;
    }
}
