button.add-post{
    width: 20%;
    height: 60px;
    text-decoration: none;
    background-color: #4ea43f;
    font-size: 30px;
    display: block;
    margin: 5px auto;
}
button.add-post:hover{
    background: #1c7a15;
}
.add-link{
    text-decoration: none;
}