.account-page{
    margin: 60px;
}
.account-page>.alias{
    font-weight: 600;
    font-size: 18px;
}
@media only screen and (max-width: 575px) {
    .account-page{
        margin: 10px;
        text-align: center;
    }
    .account-page>button,.account-page>form>input{
        display: block;
        margin: auto;
    }
    .account-page>form>button{
        margin-top: 10px;
    }
}