header{
    /*background-color: var(--LightGray);*/
    height: 100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
}
header>a{
    line-height: 100px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--DarkGray);
}

@media only screen and (max-width: 475px) {
    header{
        flex-direction: column;
        height: 200px;
        margin: 0 auto;
    }
    header>a{
        margin: 0 auto;
        line-height: 26px;
        font-size: 18px;
        font-weight: 600;
    }
}
