button{
    width: 130px;
    height: 35px;
    margin: 5px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: .4s;
    color: var(--LightGray);
    background-color: var(--LightBlue);
}

button:hover{
    background-color: var(--DarkBlue);
}

button.show-gallery{
    width: 20%;
    height: 60px;
    text-decoration: none;
    background-color: #936842;
    font-size: 30px;
    display: block;
    margin: 5px auto;
}
button.show-gallery:hover{
    background-color: #7a3e10;
}